<!-- class based view를 이용 시 임의의 파일명을 사용하지 못한다. -->
{% extends "base.html" %}

{% block page_title %}
  Home
{% endblock %}

{% block content %}

  <div class="container mx-auto pb-10">
    <div class="rounded-xl bg-gray-800 -mx-40 h-50vh mb-24 bg-center" style="background-image: url(https://images.unsplash.com/photo-1628706648528-c39f4fc5522c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);">
    </div>
    
    <div class="flex flex-wrap -mx-40 mb-10">
      {% for room in rooms %}
        {% include 'partials/room_card.html' with room=room %}
      {% endfor %}
    </div>
  
    <h5>
      {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}
  
      Page {{page_obj.number}} for {{page_obj.paginator.num_pages}}
  
      {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
      {% endif %}
    </h5>
  </div>



{% endblock %}


