<!-- 매 번 도메인을 신경쓰지 않기 위해 -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| Nbnb</title>
  </head>
  <body class="text-gray-800">
    <header class="container max-w-full flex items-center justify-between px-6 h-16 border-b border-gray-400">
      <div class="flex items-center">
        <a href="{% url 'core:home' %}" class="mr-6">
          <img class="w-6" src="{% static 'img/logo.png' %}">
        </a>
        {% block search-bar %}
        <!-- action = "/romms/search" -->
        <form form method="get" action="{% url 'rooms:search' %}">
          <input class="border px-2 py-1 rounded-sm" name="city" placeholder="Search by City" type="text" />
        </form>
        {% endblock %}
      </div>
      {% include "partials/nav.html" %}
    </header>

    <!-- block : 부모 템플렛에 자식 템플렛을 넣기 위한 방법
    block은 자식 뎀플릿이 부모 템플릿에게 content를 집어넣을 수 있는 창(window)이다. -->
    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}
  </body>
</html>